@mixin main{
    display: flex;
    padding: 70px 60px;
    background-color: var(--dark);
    border-radius: var(--radius);
    color: var(--background);
    gap: 128px;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    &__description{
        width: 290px;
        overflow-wrap: break-word;
        position: relative;
    }
    &__container{
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        align-items: flex-start;
        ::before{
            content: "";
            position: absolute;
            width: 1px;
            height: 140px;
            background-color: var(--background);
            right: -60px;
            bottom: 0px;
            top: 0px;
        }
    }
    @media(max-width: 1024px) {
            justify-content: space-between;
            padding: 50px 40px;
            gap: 0;
            &__container{
                ::before{
                    display: none;
                }
            }
            &__description{
                font-size: 16px;
            }
    }
    @media(max-width: 800px) {
            background-color: var(--background);
            padding: 0px;
            line-height: 22px;
            overflow: auto;
            overflow: scroll;
            gap: 15px;
            border-radius: 0;
            position: relative;
            justify-content: flex-start;
            margin: 0 -20px 0 -20px;
            padding: 0 20px 0 20px;
            &__container{
                background-color: var(--dark);
                border-radius: var(--radius);
                ::after{
                    display: none;
                }
            }
            &__description{
                width: 300px;
                padding: 20px 40px 0 40px;
                font-size: 16px;
            }
            &::-webkit-scrollbar {
                width: 0;
              }
        }
  }

@mixin text{
    &__text{
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 0 0 85px 0;
    }
    &__topic{
        background-color: var(--green);
        padding: 7px;
        border-radius: 7px;
        height: fit-content;
    }    
    &__descriptionText{
        width: 580px;
    }

    @media(max-width: 800px) {
        .main{
            &__text{
                flex-direction: column;
                gap: 20px;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0 0 40px 0;
            }
            &__descriptionText{
                width: fit-content;
            }
        }
        
    }
}

@mixin container {
    &__section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 40px;
    }
    &__container{
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 310px;
        padding: 50px;
        border: 1px solid var(--dark);
        border-radius: var(--radius);
        align-items: center;
        justify-content: space-between;
        box-shadow:  0 5px 0 #191A23;
    }
    &__content{
        display: flex;
        height: -webkit-fill-available;
        justify-content: space-between;
        flex-direction: column;
    }
    &__titleContainer{
        display: flex;
        flex-direction: column;
        gap: 0px
    }
    &__title{
        padding: 0 7px 5px;
        border-radius: 7px;
        width: fit-content;
    }
    @media(max-width: 800px) {
            &__container{
                display: grid;
                height: 335px;
                padding: 40px;
                border-radius: 30px;
                position: relative;
            }
            &__content{
                display: grid;
                grid-column: 1/4;
            }
            &__illustration{
                position: absolute;
                right: 40px;
                bottom: 50px;
                & > img{
                width: auto;
                height: 125px;
                right: 0;
                position: relative;
            }
        }
    }
}

@mixin buttonArrow {
        content: "\2192";
        left: 0;
        position: relative;
        margin: 0 15px 0 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 35px;
        transform: rotateZ(-30deg);
        transition: transform 0.3s ease-in-out;
        &:hover{
            transform: scale3d(1.1, 1.1, 1.1);
        }
    @media(max-width: 800px) {
            visibility: visible;
            position: absolute;
            margin: 0;
            left: 40px;
            bottom: 35px;
    }
}

@mixin accordion {
    &__containerContent{
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    &__content{
        display: flex;
        flex-direction: column;
        box-shadow:  0 5px 0 #191A23;
        border-radius: var(--radius);
        border: 1px solid #191A23;
        padding: 60px 41px;
        background-color: var(--grey);
    }
    &__contentPrev{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: var(--radius);
    }
    &__containerText{
        display: flex;
        flex-direction: row;
        gap: 25px;
        align-items: center;
    }
    &__number{
        font-size: 60px;
    }
    &__title{
        font-size: 30px;
    }
   .open{
    display: flex;
    background-color: var(--green);
    border-radius: var(--radius);
    gap: 30px;
    max-height: min-content;
    &__description{
        border-top: 1px solid #191A23;
        padding: 30px 0 0 0;
    }
}
 @media(max-width: 800px) {
    &__containerContent{
        gap: 20px;
    }
    &__number{
        font-size: 25px;
    }
    &__title{
        font-size: 18px;
    }
    &__content{
        padding: 20px 21px;
        border-radius: 45px;
    }
    &__icon{
        width: 30px;
        height: 30px;
    }
    &__containerText{
        gap: 20px;
    }
    .open{
        gap: 15px;
        &__description{
            padding: 5px 0 0 0;
        }
    }
 }
}

