@use '../../../app/styles/mixins' as *;
.leanMore{
        color: var(--green);
        display: flex;
        align-items: center;
        left: 0;
        height: max-content;
        width: max-content;
        &::after{
            @include buttonArrow;
            font-weight: 600;
        }
    }

@media(max-width: 800px) {
    .leanMore{
        left: 40px;
        padding: 0 0 40px 0;
        position: relative;
        &__text{
            font-size: 20px;
        }
    }
}