@use '../../styles/mixins' as text;

.section{
    padding: 0 0 140px 0;
}
.main{
    @include text.text;
    &__containerContent{
        display: flex;
        flex-direction: column;
        gap: 70px;
        position: relative;
    }
    &__content{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    &__contentLeft{
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: end;
    }
    &__container{
        width: 600px;
        height: 240px;
        background-color: var(--dark);
        border-radius: var(--radius);
        display: flex;
        gap: 60px;
        color: var(--background);
        padding: 40px 140px 40px 40px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__right1{
        display: flex;
        position: absolute;
        right: 0;
        top: 600px;
    }
    &__right2{
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__circles{
        position: absolute;
        left: -200px;
        top: 280px;
    }
    &__circles2{
        position: absolute;
        right: -200px;
        bottom: 320px;
        transform: rotate(180deg);
    }
    &__line{
        position: absolute;
        overflow: hidden;
        left: 230px;
        top: 100px;
    }
    &__year{
        width: 132px;
    }
    &__starMini{
        display: none;
    }
}

.line{
    display: none;
}
@media(max-width: 1280px){
    .main{
        &__line{
            display: none;
        }
    }
}
@media(max-width: 1150px){
    .main{
        &__containerContent{
            gap: 50px;
        }
        &__contentLeft{
            justify-content: start;
            flex-direction: column;
            position: relative;
        }
        &__content{
            flex-direction: column;
            position: relative;
        }
        &__container{
            gap: 44px;
            padding: 40px;
            width: 75%;
        }
        &__circles{
            display: none;
        }
        &__circles2{
            display: none;
        }
        &__line{
            display: none;
        }
        &__year{
            padding: 0 0 0 90px;
        }
        &__star{
            position: absolute;
            top: 7px;
            left: 32px;
        }
        &__starMini{
            display: block;
        }
    }
    .line{
        display: block;
        position: absolute;
        width: 1px;
        height: 84%;
        background-color: var(--green);
        left: 48px;
        top: 10px;
    }
}

@media(max-width: 800px) {
    .main{
        &__containerContent{
            width: calc(100% + 20px);
            margin: -10px;
            left: 0;
            gap: 70px;
        }
        &__container{
            width: 100%;
            height: fit-content;
        }
    }
}