.main {
    margin: 100px 0 100px 0;
    background-color: var(--green);
    display: flex;
    align-items: center;
    border-radius: var(--radius);
    border: 1px solid var(--black);
    border-bottom: 6px solid var(--black);
    gap: 180px;
    padding: 60px;
    &__content{
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    &__submit{
        color: var(--background);
        background-color: var(--dark);
        &:hover{
            background-color: var(--grey);
            color: var(--dark);
        }
    }
}

@media (max-width: 800px) {
    .main{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 50px 40px;
        &__content{
            align-items: center;
            text-align: center;
        }
    }
    .image{
        width: 280px;
        height: 280px;
    }
}