.main{
    display: flex;
    gap: 105px;
    margin: 70px 0 70px 0;
    padding: 65px 90px;
    align-items: center;
    background-color: var(--grey);
    border-radius: var(--radius);
    position: relative;
    &__content{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__title{
        line-height: 50px;
    }
    &__description{
        line-height: 32px;
        font-weight: 200;
    }
    &__strategies{
        background-color: #E8E8E8;
        color: #696969;
        padding: 5px 15px;
        border-radius: 9px;
        width: fit-content;
        &:hover{
            transform: scale3d(1.1, 1.1, 1.1);
            cursor: none;
        }
    }
}

@media(max-width: 800px) {
    .main{
        flex-direction: column;
        gap: 20px;
        padding: 40px 20px;
        margin: 210px 0 60px 0;
        background-color: transparent;
        &__content{
            gap: 20px;
        }
        &__ilustration{
            height: auto;
            width: 340px;
        }
        &__title{
            position: absolute;
            top: -160px;
            line-height: normal;
        }
    }
}