.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 345px;
    width: 100%;
    padding: 60px;
    margin: 0 0 140px 0;
    background-color:var(--green);
    border-radius: var(--radius);
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
    }
    &__image{
        position: absolute;
        right: 135px;
        top: -20px;
    }
    &__button{
        background-color: var(--dark);
        color: var(--background);
        &:hover{
            background-color: var(--grey);
            color: var(--dark);
        }
    }
}

@media(max-width: 800px){
    .main{
        padding: 45px;
        margin: 0 0 50px 0;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        gap: 25px;

        &__image{
            position: relative;
            top: 0;
            right: 0;
            width: 120%;
            height: auto;
        }
        &__content{
            width: 100%;
            gap: 25px;
        }
        &__button{
            width: 100%;
            font-size: 18px;
        }
    }
}