@use '../styles/mixins' as *;

.main{
    @include text;
    @include container;
    padding: 0 0 100px 0;
    position: relative;
    &__title-0, 
    &__title-3,
    &__title-5{
        background-color: var(--green);
    }
    &__title-1,
    &__title-2,
    &__title-4{
        background-color: var(--grey);
    }
    &__container-0,
    &__container-3{
        background-color: var(--grey);
    }
    &__container-1,
    &__container-4{
        background-color: var(--green);
    }
    &__container-2,
    &__container-5{
        background-color: var(--dark);
    }
    &__button{
        display: flex;
        align-items: center;
        left: 0;
        &::before{
            @include buttonArrow;
        }
    }
    &__button-2,
    &__button-5{
        color: var(--grey);
    }
    &__button-0,
    &__button-1,
    &__button-3,
    &__button-4{
        &::before{
            background-color: #191A23;
            color: var(--green);
        }
    }
    &__button-2,
    &__button-5{
        &::before{
            color: var(--dark);
            background-color: var(--grey);
        }
    }
}

@media(max-width: 800px) {
    .main{
        padding: 0 0 50px 0;
        &__button{
            visibility: hidden;
        }
    }
}
