@use "../../styles/mixins" as mixins;

.section{
    display: flex;
    flex-direction: column;
    padding: 0 0 100px 0;
}
.main{
    @include mixins.text;
}
.team{
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: flex-end;
    &__container{
        display: flex;
        flex-direction: column;
        padding: 40px 35px;
        width: 380px;
        height: 330px;
        border-radius: var(--radius);
        box-shadow:  0 5px 0 #191A23;
        border: 1px solid #191A23;
        gap: 56px;
        position: relative;
    }
    &__shortInfo{
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: flex-end;
        position: relative;
    }
    &__socialIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
    &__nameAndPosition{
        display: flex;
        flex-direction: column;
        gap: 10px
    }
    &__button{
        background-color: var(--dark);
        color: var(--background);
        &:hover{
            background-color: var(--green);
            color: var(--dark);
        }
    }
}
.line{
    position: absolute;
    width: calc(100% - 70px);
    height: 1px;
    background-color: #191A23;
    bottom: 50%;
    top: 50%;
    right: 35px;
    left: 35px;
}

@media(max-width: 1024px) {
    .team{
        gap: 50px;
        justify-content: center;
        &__container{
            width: 400px;
        }
    }
}
@media(max-width: 800px) {
    .team{
        &__container{
            padding: 30px 25px;
        }
    }
}