.main{
    display: flex;
    gap: 60px;
    background-color: var(--dark);
    padding: 60px 110px 70px 40px;
    border-radius: var(--radius);
    margin: 0 0 100px 0;
    &__start{
        display: flex;
        gap: 40px;
    }
    &__topic{
        border-radius: 7px;
        padding: 7px;
        background-color: var(--green);
        width: fit-content;
        height: fit-content;
        white-space: nowrap;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 50px;
        color: var(--background);
    }
    &__button{
        width: 100% !important;
        background-color: var(--background);
        color: var(--dark);
        &:hover{
            background-color: var(--green);
            color: var(--dark);
        }
    }
    &__starMobile,
    &__topicMobile{
        display: none;
    }
}

@media(max-width: 800px){
    .main{
        width: calc(100% + 20px);
        margin: 0 -10px 100px;
        left: 0;
        padding: 40px 40px 50px 40px;
        flex-direction: column;
        &__start{
            gap: 30px;
        }
        &__starMobile{
            display: block;
        }
        &__topicMobile{
            display: block;
            color: var(--green);
            margin: 0 0 20px 0;
        }
        &__topic{
            padding: 0;
            background-color: transparent;
            border-radius: 0;
            color: var(--background);
        }
        &__star{
            display: none;
        }
        &__content{
            width: fit-content;
            height: fit-content;
            padding: 0 0 0 45px;
        }
        &__button{
            font-size: 20px;
        }
    }
}