@use "../styles/mixins" as text;

.section{
    padding: 0 0 100px 0;
}
.main{
    @include text.text;
}

.swiper{
    background-color: var(--dark);
    border-radius: var(--radius);
    position: relative;

    &__info{
        color: var(--background);
    }
    &__text{
        padding: 48px 52px;
        border: 1px solid var(--green);
        border-radius: var(--radius);
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            bottom: -30px;
            left: 53px;
            border-left: 29px solid transparent;
            border-right: 29px solid transparent;
            border-top: 30px solid var(--dark);
        }
        &::before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            bottom: -31px;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 30px solid var(--green);
        }
    }
    &__nameAndPosition{
        padding: 50px 0 0 80px;
    }
    &__name{
        color: var(--green);
    }
}

@media(max-width: 800px) {
    .swiper{
        &__text{
            padding: 20px 25px;

            &::after{
                left: 31px;
                bottom: -28px;;
            }
            &::before{
                left: 30px;
                bottom: -29px;
            }
        }
        &__nameAndPosition{
            padding: 45px 0 20px 50px;
        }
    }
}